body{
    
    font-family: 'Rubik', sans-serif;

}
.container{
    margin-top: 100px;
    margin-bottom: 100px;

}

.navbar{
color: black;
Font-weight: 700px;
overflow: hidden;
}

.sign-btn{
padding: 5px 20px;
border-radius: 5px;
background-color: #21B573;
color: white;
border: none;

}

.banner-text{

    font-weight: 900 ;
    font-family: Poppins;

}
.get-started-btn{
padding: 10px 20px;
border-radius: 25px;
background-color: #21B573;
color: white;
border: none;


}
.card-img-top{
  margin: auto;
   width: 100px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
    background-color: #F8FFFB;
    padding: 30px 40px;
   
}
.card-title{
    color:#413960;
    font-weight: bold;
}
.card-text{
    color: gray;
    margin-top: 20px;
}
.title-pad h2{
font-weight: 700;
font-size: 36px;
text-align: center;
color: #413960;
margin-bottom: 30px;
}

.category-border{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    padding: 100px 50px;
    border-radius: 10px;   
    background-color: gray;
}

.cat-title{
    color:#201b36;
    text-align: justify;
    margin-top: 20px;
    font-weight: bold;
}
.cat-text{
    color: gray;
    text-align: justify;
}
.buy-course{
    padding: 8px 25px;
    border-radius: 25px;
    background-color: #21B573;
    color: white;
    border: none;
}
.testimonial{
    margin-bottom: 100px;
}
.testimonial h2{
    font-size: 36px;
    margin-bottom: 100px;
}
.testimonial img{
    width: 100px;
    margin-bottom: 20px;
}
.last-line{
    border: 70px solid rgb(16, 22, 41);
    background-color: rgb(16, 22, 41) ;
    color: white;
    
}
