body{
    margin: 0%;
    font-family: 'Rubik', sans-serif;
}
.container{
    margin-top: 100px;
    margin-bottom: 100px;

}
.banner{
    background-color:  #F0FFF0; 
    overflow: hidden;    
}
.navbar{
color: black;
Font-weight: 700px;
margin-left: 180px;
margin-right: 150px;
overflow: hidden;
}

.sign-btn{
width: 80px;
height: 35px;
border-radius: 25px;
background-color: #21B573;
color: white;
border: none;

}
#main-logo{
width: 140x;
height: 50px;
}
#illustration{
width: 400px;
height: 280px;
}
#mid{
    margin-top: 50px;
    overflow: hidden;
}
.banner-text{
    text-align: center;
    font-weight: 900 ;
    font-family: Poppins;
    overflow: hidden;
}
.get-started-btn{
width: 150px;
height: 40px;
border-radius: 25px;
background-color: #21B573;
color: white;
border: none;
margin-top: 10px;
margin-left: 250px;
overflow: hidden;
}
.card-img-top{
    width: 80px;
    margin-left: 90px;
    overflow: hidden;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
    padding-top: 20px;
    padding-bottom: 15px;
    background-color: #F8FFFB;
    overflow: hidden;
}
.card-title{
    color:#413960;
}
.card-text{
    color: gray;
}
.title-pad{
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 54px;
text-align: center;
color: #413960;
margin-bottom: 30px;
}
.category-border{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    height: 400px;
    width: 300px;
    border-radius: 10px;
    background-color: white;
}
.category-border img{
    width: 300px;
   margin-top: 20px;
}
.cat-title{
    color:#413960;
    text-align: justify;
    margin-top: 20px;
    font-weight: bold;
}
.cat-text{
    color: gray;
    text-align: justify;
}
.buy-course{
    width: 150px;
    height: 40px;
    border-radius: 25px;
    background-color: #21B573;
    color: white;
    border: none;
    position: relative;
}