body{
    margin: 0%;
    font-family: 'Rubik', sans-serif;
}
.banner{
    background-color:  #F0FFF0;     
}
.navbar{
color: black;
Font-weight: 700px;
margin-left: 180px;
margin-right: 150px;
}
.sign-btn{
width: 80px;
height: 35px;
border-radius: 25px;
background-color: #21B573;
color: white;
border: none;

}
#main-logo{
width: 140x;
height: 50px;
}
#illustration{
width: 554px;
height: 346px;
}
#mid{
    margin-top: 50px;
}
.banner-text{
    text-align: center;
    font-weight: 900 ;
    font-family: Poppins;
}
.get-started-btn{
 width: 150px;
height: 40px;
border-radius: 25px;
background-color: #21B573;
color: white;
border: none;
margin-top: 20px;
margin-left: 250px;
}